* {
  margin: 0;
  padding: 0;
}

body {  
  font-family: 'Arial', 'Sans-Serif';
  background: #f4f4f4;
  color: #000;
  line-height: 1.6;
  height: 100vh;  
}

.container {
  width:100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 3.75em;
  background: #000;
  font-family: arial;
}

.nomeProjeto {
  margin-left: 15px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar ul li {
  float:right;
}

.navbar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #f4f4f4;
  
}

.navbar ul li a:hover {
  color: #9dc1cf;
}

/*########## Inicio ##########*/

.titulo {
  background-color: #c3d0d5;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;  
}

.titulo p {
  font-size: 24px;
}

.titulo legenda{
  font-size: 1rem!important;
}

.logo {
  margin: 2%;
}

/*########## Sobre ##########*/

.sobre {
  padding-top: 3.75em;
  display: flex;
  flex-direction:column;
  align-items: initial;
  background: #f4f4f4;
  width: 100%;
  font-size: 1.4rem;
  padding-bottom: 4em;
}

.cont-sobre {
  width: 80%;
  align-content: center;
  align-self: center; 
  
}

.sobre h1{
  justify-content: baseline;
  font-size: 3rem;
  text-align: left;
}

.cont-sobre p {
  text-align: justify;
  margin-top: 20px;
  width: 100%;    
}

.figuraDODF {
  
  margin-bottom: 5%;
  align-items: left;
  padding: none;
}

.figuraDODF img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.responsive {
  max-width: 100%;
  height: auto;
}

.sobre p2 {
  text-align: justify;
  margin-top: 2.5%;
  float: left;
  width: 50%;
  padding: 2%;
}

/*########## Membros ##########*/

.fora-membros {
  background: rgb(215, 221, 223);
}

.membros {
  padding-top: 60px;
  flex-direction:column;
  align-items: center;
  margin: 0 auto;
  font-family: arial;
  justify-content: center;  
  width: 80%;
}

.dentro-membros{
  justify-content: center;
  align-items: center;
  align-self: center;
  
}

.membros h1{
  justify-content: baseline;
  text-align: left;
  font-size: 3rem;
  padding-bottom: 2.5%;
}

/*########## Menu dos Membros do Projeto ##########*/

.BtnContainer{
  margin-bottom: 2.5%;
  margin-right:auto;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin-left:auto;
  margin-right:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.42cm;
}


.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #9dc1cf;
  color: white;
}

/*########## Cards dos Membros do Projeto ##########*/

.icon{
  display: inline-block;
  position: relative;
  
}

html {
  box-sizing: border-box;
  color: #e6e6e6;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  justify-items: left;
  padding:  1.5%;
  display: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 820px) {
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.cont {
  padding: 16px;
  font-size: 0.37cm; 
  max-height: 33.125em;   
}

.cont p a{
  color: #000;
}

.cont p a:hover{
  color: skyblue;
}

.cont::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  font-size: 0.47cm;
}

.cargo {
  color: grey;
  font-size: 0,5rem;
}

.cont button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: white;
  margin-block-end: 0rem;
}

.button a{
  color: black;
  text-decoration: none;
  font-family: arial;
}
  
.button:hover {
  background-color:#9dc1cf;
  color: white;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.editais{
  width: 100%;
  height: 100vh; 
  padding-top: 4em;
  background: #c3d0d5;
  color: black;
}

.dentro-editais {
  width: 80%;
  margin: 0 auto;
  font-family: arial;
  justify-content: center;  

}
.editais h1{
  justify-content: baseline;
  font-size: 3rem;
  text-align: left;
}

.bloco{
  width: 100%;
  background:#f4f4f4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2%;
}

.bloco-cont{
  margin: 2%;
}

.editais p{
  font-size: 1.5rem;
  justify-content: center;
  text-justify: center;
  vertical-align: center;

}
.editais p2{
  font-size: 1.2rem;

}

.editais a{
  justify-content: center;
  color: black;
}

.editais a:hover{
  color: rgb(165, 211, 230);
}

.editais a button {
  background: rgb(226, 226, 226);
  color: white;
  padding: 1%;
  font-size: 1rem;
  margin-left: 2.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
  display: inline-block;
  background-color: rgb(226, 226, 226);
  text-align: center;
  cursor: pointer;
  width: 19em;
  color: black;
  margin-block-end: 0rem;
  justify-self: center;

}

.editais button a{
  color: whitesmoke;
}

.editais button a:hover{
  color: whitesmoke
}

.publicacoes{
  width: 100%;
  height: 100vh; 
  padding-top: 4em;
  background: whitesmoke;
}

.dentro-publicacoes {
  width: 80%;
  margin: 0 auto;
  font-family: arial;
  justify-content: center;  

}

.publicacoes h1{
  justify-content: baseline;
  font-size: 3rem;
  text-align: left;
}

.publicacoes a{
  color: black;
  text-decoration: none;
}


.bloco-publi{

  border-bottom: 1px solid #9dc1cf;
  font-size: 1.3em;
}

.titulo-publi{
  
  font-weight: bold;
}

.descricao-publi{
  text-align: justify;
  font-size: smaller;
  margin: 1.5%;
}

.publicacoes a:hover{
  color:#9dc1cf;
}



section {
    background: #fefefe;
    padding-top: 60px;
    display: flex;
    flex-direction:column;
    align-items: initial;
    justify-content: first baseline;
    text-align: center;
    width: 100%;
    height: 200vh;
}

section h1 {
    font-size: 3rem;
}

section p {
  font-size: 1.5rem;
}

.creditos{
  background: #000;
  color: #e6e6e6;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.2cm;
  height: 20px;
  padding: 3px;
}

@media screen and (max-width: 820px) {

  /* Membros */
  .column {
    width: 100%; 
  }

  /* Publicacoes */
  .publicacoes{
    width: 100%;
    height: 100vh; 
    padding-top: 4em;
  }
  
  .dentro-publicacoes {
    width: 80%;
    margin: 0 auto;
    font-family: arial;
    justify-content: center;  
  
  }
  
  .publicacoes h1{
    justify-content: baseline;
    font-size: 3rem;
    text-align: left;
  }
  
  .publicacoes a{
    color: black;
    text-decoration: none;
  }
  
  
  .bloco-publi{
  
    border-bottom: 1px solid #9dc1cf;
    font-size: 1.3em;
  }
  
  .titulo-publi{
    
    font-weight: bold;
  }
  
  .descricao-publi{
    text-align: justify;
    font-size: smaller;
    margin: 1.5%;
  }
  
  .publicacoes a:hover{
    color:#9dc1cf;
  }
}